@CHARSET "UTF-8";
	#messageTable{
		padding:20px 20px 20px 20px;
		margin:13% auto; 
		background: rgba(239, 239, 239, 0.8);
	 	width:400px;
	 	height:180px;
	 	border-radius:10px;
	 	box-shadow: 0 4px 6px 0 rgba(137,207,240,0.24);
		}
	#messageTable:hover {
	    box-shadow: 0 4px 6px 0 rgba(233,150,122,0.24), 0 8px 16px 0 rgba(233,150,122,0.19);
		}